// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-family-serif: "Merriweather", serif;
$fa-font-path: "../fonts" !default;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color Palette
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dark-grey: #444;
$light-grey: #9ba3aa;

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// BeerSlider
@import "~beerslider/dist/BeerSlider.css";

body {
  color: rgba(0, 0, 0, 0.8);
}

.spacing-normal {
  letter-spacing: .25px;
}

.welcome {
  font-family: $font-family-serif;
  font-size: 45px;
  span {
    color: $light-grey;
  }
}

.serif {
  font-family: $font-family-serif;
}

.navbar-brand {
  font-size: 1.75em;
}

.content-title {
  color: $dark-grey;
  a {
    color: $dark-grey;
  }
}

.content-body {
  font-size: 1.1rem;
  line-height: 2;
}
