@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap|Merriweather&display=swap');

$white: #fff;
$gray-100: #f7fafc;
$gray-200: #edf2f7;
$gray-300: #e2e8f0;
$gray-400: #cbd5e0;
$gray-500: #a0aec0;
$gray-600: #718096;
$gray-700: #4a5568;
$gray-800: #2d3748;
$gray-900: #1a202c;
$black: #000;

$red: rgba(204,84,84, 1);
$red-500: rgba(204,84,84, .2);

$green: rgba(3, 168, 124, 1);
$green-500: rgba(3, 168, 124, .6);

$blue: rgb(84, 175, 204);
$blue-500: rgba(158, 213, 237, 0.6);

$font-family-sans-serif: "Nunito Sans", sans-serif;
$font-family-serif: "Merriweather", serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$body-color: $gray-900;

$box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

$box-shadow-sm: 0 1px 2px 0 rgba($black, 0.05);
$box-shadow: 0 1px 3px 0 rgba($black, 0.1), 0 1px 2px 0 rgba($black, 0.06);;
$box-shadow-lg: 0 10px 15px -3px rgba($black, 0.1), 0 4px 6px -2px rgba($black, 0.05);

$border-radius: .5rem;
$border-radius-sm: .4rem;

$badge-border-radius: .25rem;

$text-muted: $gray-500;

$link-color: $gray-500;

$display4-size: 45px;

.primary {
    fill: $gray-500;
}

.primary:hover {
    fill: darken($link-color, 15%);
}

.secondary {
    fill: $gray-700;
}

.fill-body-color {
    fill: $body-color;
}

.text-lg {
    font-size: 1.1rem;
}

.leading-relaxed {
    line-height: 2;
}

.font-serif {
    font-family: $font-family-serif;
}

.font-sans {
    font-family: $font-family-sans-serif;
}

a, a:focus,
input, input:focus,
button, button:focus,
select, select:focus,
textarea, textarea:focus {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
}

@import "~beerslider/dist/BeerSlider.css";

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import '~bootstrap';
