#navbar-logo {
    width: 100px;
    margin-top: -7px;
}

#patreon {
    height: 17px;
    margin: -2px 4px 0 0;
}

#patreon-btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-weight: bold;
}

.best-solution-intro {
    padding-top: 0;
}